# Configuration du serveur
PORT=5000
NODE_ENV=development
JWT_SECRET=bce67d85fbc5e2a4cf55b50fe62a578817e8c333312cdb483bee12e454fd7c1a

# Configuration de la base de données (PostgreSQL par défaut)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hifadhui
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false

# Configuration pour d'autres environnements
# NODE_ENV=production
# DB_HOST=production-db.example.com
# DB_PORT=5432
# DB_NAME=hifadhui_prod
# DB_USER=prod_user
# DB_PASSWORD=un_mot_de_passe_tres_securise
# DB_SSL=true

# Configuration pour les tests
# NODE_ENV=test
# DB_NAME=hifadhui_test
